/*========================================

    Social Feed Styles
    _____________


========================================*/   

.social-feed-wrapper {
	font-size: 0;
}

.social-feed-block {
	width: 25%;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    display: inline-block;
	@include backgroundImage;
	&:before {
	    content: "";
	    display: block;
	    padding-bottom: 100%;
	}
	@include breakpoint(tablet) {
		width: calc(100% / 3);
		&:nth-child(n+7) {
			display: none;
		}
	}
	@include breakpoint(large-mobile) { 
		width: 50%;
		&:nth-child(n+5) {
			display: none; 
		}
	}
	@include breakpoint(small-mobile) { 
		width: 100%;
	}
}

.social-feed-block-link {
	left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    position: absolute;
    text-decoration: none;
    &:before, &:after {
		left: 0;
    	right: 0;
    	position: absolute;
    	@include transition;
    	@include opacity(0);
    }
    &:before {
    	content: '';
    	top: 0;
    	bottom: 0;
    	background: rgba($primary, 0.75);
    }
    &:after {
    	content: attr(data-caption-text);
    	top: 55%;
    	width: 80%;
    	margin: 0 auto;
	    line-height: 1.3;
    	color: $whiteDefault;
	    @include headingFont;
	    @include font-size(12);
    	transform: translateY(-50%);
    }
    &:hover, &:focus {
    	&:before {
    		@include opacity(1);
    	}
		&:after {
			top: 50%;
			@include opacity(1);
		}
    }
}